on:
  push:
    branches:
      - master




jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v3

      - name: "login to docker hub"
        run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_TOKEN }}
      - name: "building image"
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mlkadel_2023040260 .

      - name: "Pushing image to docker hub"
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mlkadel_2023040260
      
 
